@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');


.footer{
    font-family: 'Noto Sans Mono', monospace;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #1e1e1e;
    padding: .8rem;
    z-index: 5;
}

.footer a{
    text-decoration: none;
    color: white;
    text-shadow: 0 0 10px white;
}

.footer a:hover{
    color: rgb(169, 169, 169)
}